body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(68, 15, 118);
    flex-flow: row;
}
.item{
    width: 200px;
    height: auto;
    background-color: blanchedalmond;
    padding: 10px;
}
.item img{
    width: 100%;
    height: auto;
    margin: auto;

}